@charset "UTF-8";
/* CSS Document */
 * {
	margin: 0;
	padding: 0;
	
}
clear{clear:both}
html{scroll-behavior:smooth}
#mainbody {height:100%}
#mainbody {background-image: url( "../img/bg.jpg" );}
/*font*/

.namebrand h1 {font-family:Luminari, fantasy; letter-spacing:4px}
.content-services h1 {font-family:Luminari, fantasy; letter-spacing:4px}
.content-contact h1 {font-family:Luminari, fantasy; letter-spacing:4px}



/*-------------------------------------navbar----------------------------------------------------*/

/* logo */

.navbar img { position:absolute;
margin:0 580px ;
width:18%;
}

/*menu*/
.dropdown  {padding:0 20px; }
.nav-item {padding:0 20px }
.nav-link {margin-top:17px;}
.navbar-brand {
	margin-left:100px;
	margin-top:12px;
	padding:0 20px ; 
    }

.navbar a {color:#FBB03B }
.navbar-brand:hover{color:white}
.nav-link:hover{color:white}
.nav-item:hover{color:white}
.namebrand { 
	margin-left:350px ;
	margin-top:11px;
color:#FBB03B;

}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
	
	
}
.dropdown {
	
  width: 110px;
  margin: 0 auto;
 height:70px; 
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 4s;
/*	---border--;*/
	
}


.dropdown-content {
  display: none;
  position: absolute;
 
  min-width: 93px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {display: block;}



.navMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top:60px;
}

.navMenu a {
	
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
	text-decoration:none;
}







/*  --------------------------------------------seller------------------------------------------------------------------------------------*/
.content-sell {
	text-align:end;
	padding-right:200px 
	 
}


.sell {
	height:500px;
	
}
.container { 

	height:500px;
	
}
  ul.nav-pills {
  
	 padding:50px 80px ;
	position:absolute;
	  
	  }
 

  

  div.col-sm-9 div {
    height: 500px;
    font-size: 28px;
	 overflow-y: scroll
	 
  }
 
  #section1 {color: #fff; background-color: black;}
  #section2 {color: #fff; background-color: black;}
  #section3 {color: #fff; background-color: black;}
.nav {
	height:500px;
	
	border-right:2.1px solid #D38E20
	;color:#D38E20;
	
}
/* =================================================banner=====================================================================*/
.anh {
	 opacity: 1;
  display: block;
  
  
  transition: .5s ease;
  backface-visibility: hidden;
	
}
.anh img {height:770px}
.content-banner-trai {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;}
.content-banner-phai{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;}
.b-t:hover .anh {opacity:0.3}
.b-p:hover .anh {opacity:0.3}
.b-t:hover .content-banner-trai {opacity:1}
.b-p:hover .content-banner-phai {opacity:1}
.text {
	background-color: #D38E20;
  color: white;
  font-size: 16px;
  padding: 16px 32px;}
/*========================================================================services========================================================================*/

.select ul {
	list-style-type: none;
	padding: 0;
}

.select ul li {
	font-size: 40px;
	font-family: sans-serif;
	background-color: #B35D20;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 6.5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

.select ul li span {
	color: white;
	mix-blend-mode: difference;
}

.select ul li::before {
	content: '';
	position: absolute;
	width: 2em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: 1em;
	transition: 0.5s ease-out;
}

.select ul li:hover::before {
	transform: scale(10);
}












/*<--	======================================================contact================================================================-->*/

#contact{float:right;}*{box-sizing:border-box}input[type=text],select,textarea{width:100%;padding:12px;border:1px solid #ccc;border-radius:4px;resize:vertical}

label{padding:12px 12px 12px 0;}

input[type=submit]{background-color:#f7941d;color:#fff;padding:12px 20px;border:none;border-radius:4px;cursor:pointer;float:right;margin-left:900px}

input[type=submit]:hover{background-color:#45a049}.container-contact label{color:#faf2f2}

.container-contact{padding:40px;margin-left:0px}

.col-25{float:left;width:25%;margin-top:6px}.col-75{width:55%;margin-top:20px}.row:after{content:"";display:table;clear:both}
.content-contact h1 {margin-left:600px}
/*===========================================================footer==========================================================================*/

.follow{margin-left:40px}

.follow a{color:#fff;text-decoration:none;transition:.3s;line-height:40px;margin-left:40px}

.follow a:hover{text-shadow:0 0 4px #fff;}

@media screen and (max-width:600px){.col-25,.col-75,input[type=submit]{width:100%;margin-top:0}
.navbar img { 
margin:0 120px ;
width:50%;
	visibility: hidden;
}
	/*menu*/
.dropdown  {padding:0 20px; }
.nav-item {padding:0 20px }
.nav-link {margin:0;}
.navbar-brand {
	
	margin-top:12px;
	padding:0 20px ; 
    }

.navbar a {color:#FBB03B }
.navbar-brand:hover{color:white}
.nav-link:hover{color:white}
.nav-item:hover{color:white}
.namebrand { 
	margin-left:350px ;
	margin-top:11px;
color:#FBB03B;

}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
	
	
}
.dropdown {
	
  width: 110px;
  margin: 0 auto;
 height:70px; 
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 4s;
/*	---border--;*/
	
}


.dropdown-content {
  display: none;
  position: absolute;
 
  min-width: 93px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {display: block;}



.navMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top:60px;
}

.navMenu a {
	
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
	text-decoration:none;
}

/*content*/
	.content-sell {margin-left:0px;position:relative}

/*<!--	---------------------------------------------------bestseller------------------------------------------------------------------------------>*/
	


.sell {
	height:500px;
	
}
.container { 

	height:500px;
	
}
  ul.nav-pills {
  
	 padding:80px 0px ;
	position:absolute;
	  
	  }
 

  

  div.col-sm-9 div {
    height: 700px;
    font-size: 28px;
	 overflow-y: scroll
	 
  }
 
  #section1 {color: #fff; background-color: black;}
  #section2 {color: #fff; background-color: black;}
  #section3 {color: #fff; background-color: black;}
.nav {
	height:500px;
	
	border-right:2.1px solid #D38E20
	;color:#D38E20;
	
}
	/* =================================================banner=====================================================================*/
.b-t img {width:400px;}
.b-p img {width:300px}
.anh {
	 opacity: 1;
  display: block;
  
  
  transition: .5s ease;
  backface-visibility: hidden;
}
.content-banner-trai {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;}
.content-banner-phai{
  transition: .5s ease;
  opacity: 0;
  position: absolute;

 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;}
.b-t:hover .anh {opacity:0.3;}
.b-p:hover .anh {opacity:0.3}
.b-t:hover .content-banner-trai {opacity:1}
.b-p:hover .content-banner-phai {opacity:1}
.text {
	background-color: #D38E20;
  color: white;
  font-size: 16px;
  padding: 16px 32px;}
	/*========================================================================services========================================================================*/
	.dichvu img {visibility: hidden;}	
	.content-services {position:absolute;margin-left:120px }
.select ul {
	list-style-type: none;
	padding: 0; 
}

.select ul li {
	font-size: 40px;
	font-family: sans-serif;
	background-color: #B35D20;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 6.5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

.select ul li span {
	color: white;
	mix-blend-mode: difference;
}

.select ul li::before {
	content: '';
	position: absolute;
	width: 2em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: 1em;
	transition: 0.5s ease-out;
}

.select ul li:hover::before {
	transform: scale(10);
}

/*==================================adress	*/
	.address {}
.content-address {position:absolute;margin-left:130px }

.follow{margin-left:130px;position:absolute;margin-top:200px }

.follow a{color:#fff;text-decoration:none;transition:.3s;line-height:40px;margin-left:40px}

.follow a:hover{text-shadow:0 0 4px #fff;}

/*==================================contact	*/	
	#contact{float:right;}*{box-sizing:border-box}input[type=text],select,textarea{width:100%;padding:12px;border:1px solid #ccc;border-radius:4px;resize:vertical}

label{padding:12px 12px 12px 0;}

input[type=submit]{background-color:#f7941d;color:#fff;padding:12px 20px;border:none;border-radius:4px;cursor:pointer;float:right;margin-left:0px}

input[type=submit]:hover{background-color:#45a049}.container-contact label{color:#faf2f2}

.container-contact{padding:40px;margin-left:0px}

.col-25{float:left;width:25%;margin-top:6px}.col-75{width:55%;margin-top:20px}.row:after{content:"";display:table;clear:both}
	.content-contact h1{margin-left:150px; margin-top:200px}
 .columns {
    width: 100%;
  }
	
}




@media screen and (max-width: 810px) {
    #section1, #section2, #section3 {
      margin-left: 150px;
    }
  }
